*.o
*.obj
*.a
*.img
depend.d
tags
UpanixStart_Main.grub
.dll
.procinit
.realmode
test_list
test_map
test_vector
test_queue
CMakeCache.txt
CMakeFiles
cmake_install.cmake
.sudopw
ovmf.*
bin
Upanix.cbp
/Makefile
*.log
.cmake
/kernel.ld
/.idea/misc.xml
/.idea/codeStyles/codeStyleConfig.xml
